{% load home_tags cache  static wagtailuserbar wagtailcore_tags %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="The Xanana Gusmão Reading Room is Timor-Leste's only public library. Come visit our library, museum and much loved community space.">
    <meta name="author" content="Xanana Gusmão Reading Room">
    <meta name="theme-color" content="#00a99e">

    <!-- icon for Chrome and Android -->
    <link rel="icon" href="/static/home/js/homescreen/android/android-launchericon-192-192.png">
    <!-- reuse same icon for Safari -->
    <link rel="apple-touch-icon" href="/static/home/js/homescreen/ios/ios-appicon-180-180.png">

    <!-- multiple icons for IE -->
    <meta name="msapplication-square310x310logo" content="/static/home/js/homescreen/windows10/Square150x150Logo.scale-200.png.png">
    <link rel="shortcut icon" href="/static/home/favicon.ico" >

    <!-- APP MANIFEST FILE -->
    <link rel="manifest" href="/manifest.json">

    <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_postfix %} | Xanana Gusmao {% trans 'Reading Room' %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->

    <link href="/static/home/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/home/css/bootstrap-select.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="/static/home/css/xanana.css" rel="stylesheet">
    <link href="/static/home/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
  <body>


        {% block menu %}
            {% get_site_root as site_root %}
            {% top_menu parent=site_root calling_page=self %}
        {% endblock %}



      {% include "home/includes/carousel.html" with carousel_items=self.carousel_items.all title=self.title only %}

      {% block intro%}

      {% include "home/includes/intro.html" with intro=self.intro only %}
      {%endblock%}


    {%block content%}


    {%endblock%}




    <footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h4>Xanana Gusmao <br>{% trans 'Reading Room' %}</h4>
                <a href="/" title="Xanana Gusmao Reading Room">
                <img class="logo" src="/static/home/images/umamahonlogo.png" alt="Xanana Gusmao {% trans 'Reading Room' %}">
                </a>

            </div>
            <div class="col-md-3 hidden-sm-down">
                <h6 >About</h6>
                <ul>
                    <li><a href="/library/">Library</a></li>
                    <li><a href="/museum/">Museum</a></li>
                    <li><a href="/events/">Events</a></li>
                    <li><a href="/news/">News</a></li>
                    <li><a href="/about/">About Us</a></li>
                </ul>
                <br><br>
                <h6>Connect</h6>
                <a href="https://www.facebook.com/xananagusmaoreadingroom/" target="_blank" rel="noopener" class="footer-social footer-social-facebook" aria-label="Xanana Gusmao Reading Room Facebook Page">
                    <i class="fa fa-facebook-square fa-4x"></i>

                <a href="https://www.instagram.com/xgreadingroom/" target="_blank" rel="noopener" class="footer-social footer-social-facebook" aria-label="Xanana Gusmao Reading Room Instagram">
                    <i class="fa fa-instagram fa-4x"></i>

                </a>
            </div>
            <div class="col-md-3 hidden-sm-down">
                <h6>{% trans 'Resources' %}</h6>
                <ul>
                    <li><a href="/library/learning-resources/">{% trans 'Learning Resources' %}</a></li>
                    <li><a href="/about/book-our-space/">{% trans 'Book Our Space' %}</a></li>
                    <li><a href="/become-member/">{% trans 'Become a Member' %}</a></li>
                    <li><a href="/about/tourist-information/">{% trans 'Tourist Information' %}</a></li>
                    <!-- <li><a href="/">Book Store</a></li> -->
                </ul>
                <br><br>
                <h6 >Visit Us</h6>

                <ul>
                  <!-- <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i> -->
                    <li>
                      Rua Belamino Lobo 1 Lecidere, Bidau<br>({% trans 'beside Kmanek Supermarket' %})<br>Dili, Timor-Leste
                    </li>

                </ul>
            </div>
            <div class="col-md-3 hidden-sm-down">
                <h6>Contact Us</h6>
                <ul>

                    <li><a href="/contact/" title="Contact the Xanana Gusmao Reading Room">{% trans 'Make an Inquiry' %}</a></li>
                    <li><a href="tel:+6703312890" title="Call the Xanana Gusmao Reading Room">{% trans 'Talk to Us' %}</a>
                    <li><a href="/about/support/" title="Donate to the Xanana Gusmao Reading Room">{% trans 'Support the Reading Room' %}</a></li>
                </ul>
            </div>
        </div>
        <hr class="hidden-sm-down">


        <div class="row m-t-lg copyright text-size-xs">
            <div class="col-xs-12 text-xs-left text-sm-right text-gray-darkest ">
                © 2000 - 2017 <a href="/" title="Xanana Gusmao Reading Room">Xanana Gusmao Reading Room</a>. All rights reserved.
                <a href="#" class="pull-right">Back to top</a>
            </div>
        </div>
    </div>
</footer>





    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/home/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/static/home/js/bootstrap.min.js"></script>
    <script src="/static/home/js/bootstrap-select.min.js"></script>
     <script>
      $(document).ready(function() {
          $('.dropdown-toggle').dropdown();
      });
    </script>
 

    <script>
    if('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/sw.js', { scope: '/' })
          .then(function(registration) {
                console.log('Service Worker Registered');
          });

        navigator.serviceWorker.ready.then(function(registration) {
           console.log('Service Worker Ready');
        });
      }
    </script>

  </body>
</html>
